extends layout

block content
  :markdown
    # mongoose-doc-cn
    mongoose-doc-cn
    欢迎加入翻译:joy:        
    文档来源 https://github.com/Automattic/mongoose         
    中文文档仓库 https://github.com/ssshooter/mongoose-doc-cn           
    中文文档地址 https://mongoosedoc.top/docs/index.html          
    ### 排版相关
    [中文文案排版指北](https://github.com/sparanoid/chinese-copywriting-guidelines)
    ### 约定
    Schema / document / model 等名词不翻译
    ### 操作
    翻译 lib 文件夹和 docs 文件夹里的文件，              
    docs 文件夹为教程，            
    lib 文件夹为 api 文档         
    ### 加入翻译
    先 PR readme，在翻译情况添加自己要翻译的页面，接着就可以开始翻译啦。
    ### 生成文档（jade->html）
    ```
    // 预览前必须先生成文档
    node website
    ```
    ### 本地服务
    ```
    // 启动本地服务器预览文档
    node static
    ```
    ### 翻译情况(网页展示顺序)
    页面|情况|译者|校对
    --- | --- |--- |---
    docs/index|完成|[ssshooter](https://github.com/ssshooter)|
    docs/guide|90%|[ssshooter](https://github.com/ssshooter)|
    docs/schematypes|完成|[ssshooter](https://github.com/ssshooter)|
    docs/connections|完成|[ssshooter](https://github.com/ssshooter)|
    docs/model|完成|[easezhi](https://github.com/easezhi)|
    docs/documents|完成|[ssshooter](https://github.com/ssshooter)|
    docs/subdocs|完成|[ssshooter](https://github.com/ssshooter)|
    docs/queries|完成|[easezhi](https://github.com/easezhi)|
    test/docs/validation|完成|[ssshooter](https://github.com/ssshooter)|
    docs/middleware|完成|[ssshooter](https://github.com/ssshooter)|
    docs/populate|完成|[ssshooter](https://github.com/ssshooter)|
    test/docs/discriminators|完成|[ssshooter](https://github.com/ssshooter)|
    docs/plugins|完成|[ssshooter](https://github.com/ssshooter)|
    lib/schema|完成|[easezhi](https://github.com/easezhi)|
    lib/connection|-|-|
    lib/document|-|-|
    lib/model|-|-|
    lib/query|进行中|[easezhi](https://github.com/easezhi)|
    lib/aggregate|-|-|
    lib/schematype|-|-|
    lib/virtual|-|-|
    lib/err/index|-|-|
    docs/faq|进行中|[umrons](https://github.com/umrons)|
